@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-primary: #00BB6D;
}

html {
    font-size: 62.5%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

a:hover {
    text-decoration: none;
}

.owl-prev:focus, .owl-next:focus, .owl-dot:focus, button:focus {
    outline: none;
}

.wrapper_header {
    padding-top: 10px;
}

.wrapper_header .wrapper_header_right {
    font-size: 1.6rem;
}

.wrapper_header .wrapper_header_right .wrapper_header_service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .info1, .wrapper_header .wrapper_header_right .wrapper_header_service .info2 {
    background-color: #E1251B;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 0;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .info2 {
    background-color: var(--color-primary);
}

.wrapper_header .wrapper_header_right .wrapper_header_service .switch-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-left: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form {
    position: relative;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form .search-form-wrapper {
    padding: 12px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    background: var(--color-white);
    z-index: 9999999;
    top: 110%;
    right: -110%;
    display: none;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form .search-form-wrapper form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form .search-form-wrapper form input {
    border: 1px solid #9DABAF;
    padding-left: 10px;
    width: 222px;
    height: 32px;
    background: var(--color-white);
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form .search-form-wrapper form button {
    background-color: var(--color-primary);
    border: none;
    width: 32px;
    height: 32px;
}

.wrapper_header .wrapper_header_right .wrapper_header_service .search-form .search-form-wrapper form button i {
    color: var(--color-white);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar {
    height: calc(100% - 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li {
    padding: 5px 15px;
    border-right: 1px solid var(--color-primary);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li:last-child {
    border-right: none;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li a {
    color: var(--color-black);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.active a {
    color: var(--color-primary);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .dropdown-menu {
    width: 300px;
    border-top: 2px solid var(--color-primary);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .dropdown-menu li {
    border-right: none;
    padding: 0;
    border-bottom: 1px solid #f0f0f0;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .dropdown-menu li:last-child {
    border-bottom: none;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .dropdown-menu li a {
    padding: 12px 17px;
    display: block;
    font-size: 1.4rem;
    color: #2F4857;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .dropdown-menu li a:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .mega {
    width: 800px;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .mega li {
    width: 33.33%;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown .mega li a {
    display: inline-block;
    width: 100%;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown:hover .dropdown-menu {
    display: block;
}

.wrapper_header .wrapper_header_right .wrapper_header_navbar ul li.dropdown:hover .mega {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header-scroll {
    position: fixed;
    z-index: 99999;
    background: var(--color-white);
    width: 100%;
    top: 0;
    border-bottom: 2px solid var(--color-primary);
    -webkit-animation: animenu 1000ms forwards;
    animation: animenu 1000ms forwards;
}

.header-scroll > div[class*="introduction"] {
    padding: 0;
}

.header-scroll .wrapper_header {
    padding-bottom: 10px;
}

.header-scroll .wrapper_header .wrapper_header_right .wrapper_header_service {
    display: none;
}

@-webkit-keyframes animenu {
    from {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes animenu {
    from {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.open {
    display: block !important;
}

.wrapper_footer {
    padding-top: 80px;
}

.wrapper_footer .wrapper_footer_left_contact {
    color: #2F4857;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #2F4857;
    padding-bottom: 16px;
}

.wrapper_footer .wrapper_footer_left_contact_title, .wrapper_footer .wrapper_footer_right_title {
    font-size: 15px;
    line-height: 23px;
    text-transform: uppercase;
    margin: 8px 0;
}

.wrapper_footer .wrapper_footer_right_title a {
    color: var(--color-black);
    font-weight: 600;
}

.wrapper_footer .wrapper_footer_left_contact_address, .wrapper_footer .wrapper_footer_left_contact_phone, .wrapper_footer .wrapper_footer_left_contact_mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    margin-bottom: 4px;
}

.wrapper_footer .wrapper_footer_left_contact_address span, .wrapper_footer .wrapper_footer_left_contact_phone span, .wrapper_footer .wrapper_footer_left_contact_mail span {
    padding-left: 8px;
    color: #2F4857;
    font-size: 16px;
    line-height: 22px;
}

.wrapper_footer .wrapper_footer_left_contact_address img, .wrapper_footer .wrapper_footer_left_contact_phone img, .wrapper_footer .wrapper_footer_left_contact_mail img {
    padding-top: 4px;
}

.wrapper_footer .wrapper_footer_left_menu {
    margin-top: 16px;
}

.wrapper_footer .wrapper_footer_left_menu .wrapper_footer_left_menu_item a {
    font-size: 1.6rem;
    color: var(--color-black);
}

.wrapper_footer .wrapper_footer_social {
    margin-bottom: 30px;
}

.wrapper_footer .wrapper_footer_social a {
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper_footer_copyright {
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 15px 0;
    width: 100%;
}

.nav-right {
    position: fixed;
    right: 0;
    top: 30vh;
    z-index: 999;
    width: 40px;
    height: 80px;
}

.nav-right > img {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-right .contact, .nav-right .mail {
    width: 100%;
    height: 50%;
    position: relative;
}

.nav-right .contact p, .nav-right .mail p {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    width: 180px;
    margin-bottom: 0;
    height: 40px;
    background: var(--color-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
}

.nav-right .contact p span, .nav-right .mail p span {
    letter-spacing: 1px;
    color: var(--color-white);
    font-size: 1.6rem;
    padding-left: 8px;
}

.nav-right .contact:hover p, .nav-right .mail:hover p {
    -webkit-transform: translateX(-70%);
    transform: translateX(-70%);
}

.nav-right .mail p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.nav-right .mail p a {
    color: var(--color-white);
    font-size: 1.6rem;
}

.nav-right .mail:hover p {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
}

.phone-gif {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
}

.phone-gif img {
    width: 45px;
    height: auto;
}

.wrapper-home {
    margin-top: 15px;
}

.wrapper-home .wrapper-home-banner {
    position: relative;
}

.wrapper-home .wrapper-home-banner .owl-nav .owl-prev, .wrapper-home .wrapper-home-banner .owl-nav .owl-next {
    top: 50%;
    position: absolute;
    left: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 33px;
    border: 1px solid #9DABAF;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../images/icon-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: #D6D6D6;
}

.wrapper-home .wrapper-home-banner .owl-nav .owl-prev i, .wrapper-home .wrapper-home-banner .owl-nav .owl-next i {
    color: var(--color-white);
    line-height: 40px;
    font-size: 1.4rem;
}

.wrapper-home .wrapper-home-banner .owl-nav .owl-prev:hover, .wrapper-home .wrapper-home-banner .owl-nav .owl-next:hover {
    background: #869791;
    border: 1px solid var(--color-primary);
}

.wrapper-home .wrapper-home-banner .owl-nav .owl-next {
    right: 40px;
    left: initial;
    background-image: url(../images/icon-right.png);
}

.wrapper-home .wrapper-home-banner .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 75px;
}

.wrapper-home .wrapper-home-banner .owl-dots .owl-dot:focus {
    outline: none;
}

.wrapper-home .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 1.6rem;
    position: relative;
    margin-top: -64px;
    z-index: 1;
}

.wrapper-home .section-1 .active {
    display: none;
}

.wrapper-home .section-1 .item {
    background: var(--color-white);
    width: 20%;
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.wrapper-home .section-1 .item::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    right: 0;
    background: var(--color-primary);
}

.wrapper-home .section-1 .item span {
    padding-left: 16px;
    color: var(--color-black);
}

.wrapper-home .section-1 .item:hover {
    background: var(--color-primary);
}

.wrapper-home .section-1 .item:hover span {
    color: var(--color-white);
}

.wrapper-home .section-1 .item:hover.item-2 span, .wrapper-home .section-1 .item:hover.item-5 span {
    color: var(--color-black);
}

.wrapper-home .section-1 .item:hover .normal {
    display: none;
}

.wrapper-home .section-1 .item:hover .active {
    display: inline-block;
}

.wrapper-home .section-1 .modal {
    display: none;
    position: fixed;
    z-index: 9999999999999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.wrapper-home .section-1 .modal .close-modal {
    background: url(../images/close.png) no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 999;
}

.wrapper-home .section-1 .modal .modal-content {
    margin-top: 10% !important;
    margin: auto;
    /*margin: 28px auto !important;*/
    width: 800px;
    color: var(--color-white);
    height: auto;
    background: url(../images/modal-1.png) center no-repeat;
    background-size: cover;
    -webkit-animation: animationtop 700ms ease-out;
    animation: animationtop 700ms ease-out;
}

.wrapper-home .section-1 .modal .modal-content .modal-body {
    padding: 40px 55px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .modal-title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 150%;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-white);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .list-time p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .list-time p span {
    padding-left: 0;
    color: var(--color-white);
    width: 50%;
    font-weight: 600;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .contact a {
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: 4px;
    width: 164px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .contact span {
    color: var(--color-white);
}

.wrapper-home .section-1 .modal .modal-content .modal-body .modal-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .modal-address img {
    padding-top: 4px;
}

.wrapper-home .section-1 .modal .modal-content .modal-body .modal-address .content {
    padding-left: 8px;
}

.wrapper-home .section-1 .modal-item-2 .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 0;
}

.wrapper-home .section-1 .modal-item-2 label {
    font-size: 1.4rem;
}

.wrapper-home .section-1 .modal-item-2 input, .wrapper-home .section-1 .modal-item-2 select {
    border: none;
    height: 40px;
}

.wrapper-home .section-1 .modal-item-2 input::-webkit-input-placeholder, .wrapper-home .section-1 .modal-item-2 select::-webkit-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 47px;
}

.wrapper-home .section-1 .modal-item-2 input:-ms-input-placeholder, .wrapper-home .section-1 .modal-item-2 select:-ms-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 47px;
}

.wrapper-home .section-1 .modal-item-2 input::-ms-input-placeholder, .wrapper-home .section-1 .modal-item-2 select::-ms-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 47px;
}

.wrapper-home .section-1 .modal-item-2 input::placeholder, .wrapper-home .section-1 .modal-item-2 select::placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 47px;
}

.wrapper-home .section-1 .modal-item-2 input option, .wrapper-home .section-1 .modal-item-2 select option {
    font-size: 1.6rem;
    color: #9DABAF;
}

.wrapper-home .section-1 .modal-item-2 select {
    font-weight: 600;
    font-size: 1.6rem;
    color: #9DABAF;
    background: url(../images/dropdown.png) 98% 8px no-repeat var(--color-white);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper-home .section-1 .modal-item-2 .btn-search {
    width: 100%;
    height: 45px;
    background-color: var(--color-primary);
    border-radius: 4px;
    padding: 5px 15px;
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

.wrapper-home .section-1 .modal-item-2 .btn-search:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
}

.wrapper-home .section-2 {
    padding-top: 120px;
    padding-bottom: 110px;
}

.wrapper-home .section-2 .intro .title {
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 54px;
    text-transform: uppercase;
    color: #2F4857;
    margin-bottom: 8px;
    padding-left: 10px;
}

.wrapper-home .section-2 .intro .content {
    font-size: 1.6rem;
    color: #2F4857;
}

.wrapper-home .section-2 .slider-service {
    position: relative;
    z-index: initial;
}

.wrapper-home .section-2 .slider-service .owl-carousel {
    z-index: initial;
}

.wrapper-home .section-2 .slider-service .pos-center {
    padding-top: 30px;
}

.wrapper-home .section-2 .slider-service .owl-stage-outer {
    padding-bottom: 50px;
    -webkit-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.wrapper-home .section-2 .slider-service .link-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper-home .section-2 .slider-service .link-service img {
    width: 28px;
}

.wrapper-home .section-2 .slider-service .link-service a {
    font-size: 1.8rem;
    color: var(--color-black);
    padding-left: 8px;
    display: inline-block;
}

.wrapper-home .section-2 .slider-service .owl-nav .owl-prev, .wrapper-home .section-2 .slider-service .owl-nav .owl-next {
    top: 50%;
    position: absolute;
    left: -25px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 33px;
    border: 1px solid #9DABAF;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../images/icon-left.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: #D6D6D6;
}

.wrapper-home .section-2 .slider-service .owl-nav .owl-prev i, .wrapper-home .section-2 .slider-service .owl-nav .owl-next i {
    color: var(--color-white);
    line-height: 40px;
    font-size: 1.4rem;
}

.wrapper-home .section-2 .slider-service .owl-nav .owl-prev:hover, .wrapper-home .section-2 .slider-service .owl-nav .owl-next:hover {
    background: #869791;
    border: 1px solid var(--color-primary);
}

.wrapper-home .section-2 .slider-service .owl-nav .owl-next {
    right: -25px;
    left: initial;
    background-image: url(../images/icon-right.png);
}

.wrapper-home .section-3 {
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 70px 0;
}

.wrapper-home .section-3 .data-left .data-title {
    font-size: 3.6rem;
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 54px;
    margin-bottom: 48px;
}

.wrapper-home .section-3 .data-left .data-blog {
    height: 340px;
    background: url(../images/bg-1.svg) center no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.wrapper-home .section-3 .data-left .data-blog .blog {
    width: 47.4%;
    height: 44.6%;
    background-color: #9DABAF20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wrapper-home .section-3 .data-left .data-blog .blog .blog-content {
    padding-left: 16px;
}

.wrapper-home .section-3 .data-left .data-blog .blog .blog-content .data {
    font-size: 3rem;
    color: var(--color-white);
    font-weight: 600;
}

.wrapper-home .section-3 .data-left .data-blog .blog .blog-content .title {
    font-size: 1.6rem;
    color: var(--color-white);
}

.wrapper-home .section-3 .data-left .data-blog .blog.blog-1, .wrapper-home .section-3 .data-left .data-blog .blog.blog-2 {
    margin-bottom: 36px;
}

.wrapper-home .section-3 .data-right {
    padding: 32px;
    background: #9DABAF20;
}

.wrapper-home .section-3 .data-right > p {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 24px;
}

.wrapper-home .section-3 .data-right .blog-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrapper-home .section-3 .data-right .blog-intro img {
    max-width: 200px;
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content {
    padding-left: 16px;
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content .intro-header {
    border-bottom: 1px solid var(--color-white);
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content .intro-header .title-name {
    font-size: 1.8rem;
    color: var(--color-white);
    font-weight: 600;
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content .intro-header .title-position {
    font-size: 1.6rem;
    color: var(--color-white);
    margin-bottom: 16px;
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content .intro-text {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: var(--color-white);
    font-size: 1.6rem;
    text-align: justify;
}

.wrapper-home .section-3 .data-right .blog-intro .intro-content .intro-text > p {
    padding-left: 16px;
}

.wrapper-home .section-4 {
    padding: 120px 0;
}

.wrapper-home .section-4 .header-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #2F4857;
}

.wrapper-home .section-4 .header-news .title {
    font-size: 3.6rem;
    color: #2F4857;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.wrapper-home .section-4 .header-news a {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 4px;
    padding: 5px 15px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    border: 1px solid transparent;
}

.wrapper-home .section-4 .header-news a:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.wrapper-home .section-4 .tab-news {
    margin: 20px 0 16px;
}

.wrapper-home .section-4 .tab-news .tabs .tablinks {
    line-height: 22px;
    font-size: 16px;
    color: #2F4857;
    border: none;
    background: transparent;
    padding: 0 20px;
}

.wrapper-home .section-4 .tab-news .tabs .tablinks:hover {
    color: var(--color-primary);
    font-weight: 600;
}

.wrapper-home .section-4 .tab-news .tabs .tablinks:first-child {
    padding-left: 0;
}

.wrapper-home .section-4 .tabcontent {
    margin-top: 24px;
}

.wrapper-home .section-4 .tabcontent .news-detail .image {
    display: inline-block;
    overflow: hidden;
}

.wrapper-home .section-4 .tabcontent .news-detail .image img {
    max-height: 220px;
    width: 100%;
    -webkit-transition: all 700ms ease-in;
    transition: all 700ms ease-in;
}

.wrapper-home .section-4 .tabcontent .news-detail .image:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.wrapper-home .section-4 .tabcontent .news-detail .content .title {
    margin: 16px 0 8px;
}

.wrapper-home .section-4 .tabcontent .news-detail .content .title a {
    font-size: 1.8rem;
    color: var(--color-black);
    font-weight: 600;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.wrapper-home .section-4 .tabcontent .news-detail .content .title a:hover {
    color: var(--color-primary);
}

.wrapper-home .section-4 .tabcontent .news-detail .content .brief {
    font-size: 1.4rem;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 16px;
    color: #2F4857;
}

.wrapper-home .section-5 {
    padding: 80px;
    background-color: #F2F3F8;
}

.wrapper-home .section-5 .owl-nav .owl-prev, .wrapper-home .section-5 .owl-nav .owl-next {
    top: 50%;
    position: absolute;
    left: -25px;
    text-align: center;
    border: 1px solid #9DABAF;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: 10px;
    background-color: #D6D6D6;
    padding: 5px 7px !important;
    border-radius: 3px;
}

.wrapper-home .section-5 .owl-nav .owl-prev i, .wrapper-home .section-5 .owl-nav .owl-next i {
    color: var(--color-white);
    font-size: 1.4rem;
}

.wrapper-home .section-5 .owl-nav .owl-prev:hover, .wrapper-home .section-5 .owl-nav .owl-next:hover {
    background: #869791;
}

.wrapper-home .section-5 .owl-nav .owl-next {
    right: -25px;
    left: initial;
}

.wrapper-home .chat-messenger {
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 55px;
    height: auto;
    z-index: 999999;
}

@-webkit-keyframes animationtop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animationtop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.wrapper-person .person-left .title-person {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2F4857;
    line-height: 40px;
    border-bottom: 0.5px solid var(--color-black);
    padding-bottom: 10px;
    letter-spacing: .05em;
}

.wrapper-person .person-left .search-person {
    margin-top: 32px;
}

.wrapper-person .person-left .search-person .row {
    margin: 0;
}

.wrapper-person .person-left .search-person .row .form-group {
    padding: 0 2px;
}

.wrapper-person .person-left .search-person .row .person-search-button {
    max-width: 32px;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
}

.wrapper-person .person-left .search-person .row .person-search-button .sb-search {
    width: 32px;
    height: 32px;
    background: var(--color-primary);
    font-size: 1.7rem;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 4px;
}

.wrapper-person .person-left .search-person .row .person-search-button .sb-search:hover {
    color: var(--color-primary);
    background: var(--color-white);
    border-color: var(--color-primary);
}

.wrapper-person .person-left .search-person .row .person-search-name {
    max-width: initial;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.wrapper-person .person-left .search-person .row label {
    font-size: 1.4rem;
}

.wrapper-person .person-left .search-person .row input, .wrapper-person .person-left .search-person .row select {
    height: 32px;
    border: 1px solid #9DABAF;
}

.wrapper-person .person-left .search-person .row input::-webkit-input-placeholder, .wrapper-person .person-left .search-person .row select::-webkit-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 32px;
}

.wrapper-person .person-left .search-person .row input:-ms-input-placeholder, .wrapper-person .person-left .search-person .row select:-ms-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 32px;
}

.wrapper-person .person-left .search-person .row input::-ms-input-placeholder, .wrapper-person .person-left .search-person .row select::-ms-input-placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 32px;
}

.wrapper-person .person-left .search-person .row input::placeholder, .wrapper-person .person-left .search-person .row select::placeholder {
    font-size: 1.6rem;
    color: #9DABAF;
    line-height: 32px;
}

.wrapper-person .person-left .search-person .row input option, .wrapper-person .person-left .search-person .row select option {
    font-size: 1.6rem;
    color: #9DABAF;
}

.wrapper-person .person-left .search-person .row select {
    font-weight: 600;
    font-size: 1.6rem;
    color: #9DABAF;
    background: url(../images/dropdown.png) 98% 4px no-repeat var(--color-white);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrapper-person .person-left .list-doctor .item-doctor {
    margin-top: 64px;
}

.wrapper-person .person-left .list-doctor .item-doctor .thumbnail {
    width: 30%;
    margin-right: 30px;
}

.wrapper-person .person-left .list-doctor .item-doctor .thumbnail img {
    width: 100%;
}

.wrapper-person .person-left .list-doctor .item-doctor .info-doctor {
    font-size: 1.6rem;
    line-height: 22px;
    color: #2F4857;
}

.wrapper-person .person-left .list-doctor .item-doctor .info-doctor .title {
    margin-bottom: 8px;
}

.wrapper-person .person-left .list-doctor .item-doctor .info-doctor .title a {
    font-size: 1.8rem;
    color: var(--color-primary);
    font-weight: 600;
    line-height: 1.5;
}

.wrapper-person .person-left .list-doctor .item-doctor .info-doctor .level, .wrapper-person .person-left .list-doctor .item-doctor .info-doctor .position, .wrapper-person .person-left .list-doctor .item-doctor .info-doctor .address {
    margin-bottom: 16px;
}

.wrapper-person .person-left .list-doctor .item-doctor .info-doctor .level img, .wrapper-person .person-left .list-doctor .item-doctor .info-doctor .position img, .wrapper-person .person-left .list-doctor .item-doctor .info-doctor .address img {
    max-width: 16px;
    margin-right: 5px;
}

.wrapper-rules .rules-left .rules-title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2F4857;
    line-height: 40px;
    border-bottom: 0.5px solid var(--color-black);
    padding-bottom: 10px;
    letter-spacing: .05em;
}

.wrapper-rules .rules-left .rules-related .title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #2F4857;
}

.wrapper-rules .rules-left .rules-related .link-related a {
    display: block;
    background: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.wrapper-rules .rules-left .rules-related .link-related a:hover {
    background: #2F4857;
}

.wrapper-question .question-left .question-title {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2F4857;
    line-height: 40px;
    border-bottom: 0.5px solid var(--color-black);
    padding-bottom: 10px;
    letter-spacing: .05em;
}

.wrapper-question .question-left .question-list {
    margin-top: 25px;
}

.wrapper-question .question-left .question-list .card {
    font-size: 1.6rem;
    padding: 0 15px;
    margin-bottom: 16px;
}

.wrapper-question .question-left .question-list .card * {
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.wrapper-question .question-left .question-list .card .card-header {
    padding: 10px 0;
    background: var(--color-white);
}

.wrapper-question .question-left .question-list .card .card-header button {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2F4857;
    padding: 6px 12px 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.wrapper-question .question-left .question-list .card .card-header button:hover, .wrapper-question .question-left .question-list .card .card-header button:focus {
    text-decoration: none;
    color: #0056b3;
}

.wrapper-question .question-left .question-list .card .card-body {
    padding: 10px 0;
}

.wrapper-question .question-left .question-list .card .card-body .question .title {
    margin-bottom: 16px;
    color: #2F4857;
    font-weight: 600;
}

.wrapper-question .question-left .question-list .card .card-body .question .content {
    margin-bottom: 16px;
}

.wrapper-question .question-left .question-list .card .card-body .answers .title {
    color: var(--color-black);
    font-weight: 600;
    margin-bottom: 16px;
}

.wrapper-question .question-left .question-list .card [data-toggle="collapse"] .fas {
    -webkit-transition: none;
    transition: none;
}

.wrapper-question .question-left .question-list .card [data-toggle="collapse"] .fas:before {
    content: "\f0de";
}

.wrapper-question .question-left .question-list .card [data-toggle="collapse"].collapsed .fas {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.introduction {
    padding: 13px 0;
}

.content-introduction-title .content {
    text-align: justify !important;
}

.tab-intro-content-1 {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.content-introduction {
    padding-top: 20px;
}

.content-introduction .panel-title h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    border-bottom: .5px solid #000;
    padding-bottom: 10px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #2F4857;
    width: 100%;
}

.img-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.img-title-1 {
    text-align: center;
    margin: 20px 0 30px;
}

.content-title-strong span strong {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
}

.content-title-strong h2 span strong {
    color: #008000;
    font-size: 28px;
    margin-top: 10px;
}

.content-title-strong h3 span strong {
    color: #008000;
}

.content-title-strong h3 {
    margin: 0px 0 15px;
}

.content-title-strong .content-frame span {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

.content-title-strong .content-julily {
    text-align: justify;
    width: 100%;
    margin-bottom: 2rem;
}

.content-introduction-2 .wp-caption-text {
    text-align: center;
    margin: -15px 0 20px;
}

/* === Banner-2 === */
.banner-2-introduction {
    background: url(../images/bg-reason.png);
    background-size: cover;
    padding-top: 60px;
    height: 580px;
    padding-bottom: 60px;
}

.title-why-setion {
    color: #fff !important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4.5rem;
}

.introduction-reason .reason-4-img .img-hover {
    text-align: center;
}

.introduction-reason .reason-title h4 {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 40px;
}

.introduction-reason .reason-title h4 {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 40px;
    text-align: initial;
}

.introduction-reason .reason-title p {
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    font-size: 16px;
    text-align: justify !important;
}

.introduction-charity {
    padding: 80px 0;
}

.introduction-charity .title-section p {
    color: #2f4857;
    font-size: 16px;
    text-align: justify !important;
}

.introduction-charity .title-section h2 {
    font-style: normal;
    font-weight: 700;
    color: #2f4857;
    font-size: 26px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.introduction-charity .button-center {
    background-color: #00BB6D !important;
    border: 1px solid #00BB6D !important;
    padding: 5px 15px !important;
    text-align: center;
    height: 45px !important;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.introduction-charity .button-center:hover {
    background-color: transparent !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.introduction-charity .button-center:hover .more-hear {
    color: #00BB6D !important;
}

.introduction-charity .button-center .more-hear {
    border-radius: 4px !important;
    color: #fff !important;
    cursor: pointer !important;
    width: 100% !important;
    text-align: center;
    text-transform: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}

.introduction-chidle .chidle-1 {
    padding: 0;
    margin-top: 25px;
}

.introduction-gallery {
    padding: 0px;
}

.introduction-gallery .gallery-title h2 {
    color: #2F4857;
    font-size: 28px;
    margin-bottom: 30px;
}

.introduction-gallery .gallery h4 {
    font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #2F4857;
    text-transform: uppercase;
    margin: 15px 0 8px;
    height: 65px;
}

.introduction-gallery .img-hover a {
    overflow: hidden;
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.introduction-gallery .img-hover a img {
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
}

.introduction-gallery .img-hover a img:hover {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.introduction-footer {
    border-top: 1px solid #9DABAF;
}

.tab-intro-child-1 {
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 10px 0 0 0;
}

.introduction-child-menu {
    padding: 13px 0;
}

.introduction-child-tab84 {
    padding-top: 20px;
}

.introduction-child-tab84 .panel-title h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    border-bottom: .5px solid #000;
    padding-bottom: 10px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #2F4857;
}

.introduction-child-left .content {
    text-align: justify !important;
    margin-top: 5px;
}

.introduction-child-left .content span strong {
    font-weight: 700;
    color: #000000;
    font-size: 16px;
}

.introduction-child-left .panel-title h2 span strong {
    color: #008000;
    font-size: 18.6667px;
}

.introduction-child-left .panel-title h2 {
    margin: 0 0 10px;
}

.introduction-child-left .panel-title .content-frame {
    text-align: justify;
}

.introduction-child-left .panel-title .content-frame span {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

.introduction-child-left .panel-title .introduction-child-contact p {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

.introduction-child-left .panel-title .introduction-child-contact h3 {
    margin: 0 0 15px;
}

.introduction-child-left {
    padding-bottom: 80px;
}

.introduction-child-footer {
    border-top: 1px solid #9DABAF;
}

/* === Search === */
.search-form-wrapper {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}

.search-form-wrapper .search-field {
    outline: none;
    height: 32px;
    background: #FFF;
    border: 1px solid #9DABAF;
    width: 200px;
    padding-left: 17px;
    font-size: 15px;
    line-height: 0;
    margin-right: 10px;
}

.search-form-wrapper button {
    outline: none;
    height: 32px;
    background: #FFF;
    border: 1px solid #9DABAF;
    font-size: 15px;
    margin: 0;
    line-height: 0;
    padding: 0;
    width: 110px;
    text-align: center;
}

.introduction-child-right .widget-title {
    background: #00BB6D;
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.introduction-child-right ul {
    padding: 0px;
    background-color: #f0f0f0;
}

.introduction-child-right ul li {
    border-bottom: 1px solid #ccc;
    text-align: justify;
    width: 100%;
}

::marker {
    color: #fff;
}

.introduction-child-right ul li a {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 18px 20px;
    display: block;
    list-style: none;
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.introduction-child-right ul li a:hover {
    color: #00BB6D;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.introduction-child-tab84 .content2 {
    width: 100%;
}

.introduction-child-tab84 .content2 span strong {
    font-size: 16px;
    color: #000000;
    font-weight: 400 !important;
}

.introduction-child-left .panel-title .content2 h2 span strong {
    font-size: 28px;
}

.introduction-child-cck-tab84 .panel-title h3 span strong {
    font-size: 28px;
    color: #008000;
}

.introduction-child-cck-tab84 .panel-title ul li span a {
    font-size: 16px;
    font-weight: 400 !important;
}

.introduction-child-cck-tab84 .panel-title h3 {
    margin-top: 20px;
}

.introduction-child-tvsk-tab84 .banner-img-title-2 {
    margin-top: 5px;
}

.introduction-child-tvsk-tab84 .introduction-child-left .panel-title h2 span strong {
    color: #2F4857;
    font-size: 24px;
}

.introduction-child-tvsk-6-6 {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.introduction-child-tvsk-6-6 .introduction-child-tvsk-left {
    padding-left: 0px;
}

.introduction-child-tvsk-6-6 .banner-img-title-2 {
    margin-top: 40px;
}

.introduction-child-tvsk-6-6 .introduction-child-tvsk-left h2 span strong {
    color: #2F4857;
    font-size: 16px;
}

.introduction-child-tvsk-6-6 .introduction-child-tvsk-right h2 span strong {
    color: #2F4857;
    font-size: 16px;
}

.introduction-child-tvsk-tab84 .introduction-child-left .panel-title .content-frame span {
    font-size: 16px;
    color: #2F4857;
}

.introduction-child-tvsk-tab84 .introduction-child-tvsk .content-frame {
    text-align: justify;
}

.introduction-child-tvsk-tab84 .introduction-child-tvsk .content-frame span {
    font-size: 16px;
    color: #2F4857;
}

.wrapper-news-offers .news-offers-left .highlight-news {
    background-color: #2F4857;
    padding: 25px;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-title {
    font-size: 2.6rem;
    border-bottom: 1px solid #fff;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news figure {
    margin: 0;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news img {
    width: 100%;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news .title a {
    color: var(--color-white);
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news.big-news {
    margin-bottom: 10px;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news.big-news .title a {
    padding: 15px;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news.small-news {
    width: 50%;
    padding: 0 15px;
}

.wrapper-news-offers .news-offers-left .highlight-news .highlight-news-content .item-news.small-news .title a {
    margin: 8px 0 16px;
}

.wrapper-news-offers .news-offers-left .news-by-category {
    margin-top: 70px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-title {
    margin-bottom: 45px;
    border-bottom: 0.5px solid #2F4857;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-title a {
    font-size: 2.6rem;
    color: #2F4857;
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news {
    width: 50%;
    padding: 0 15px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news figure {
    margin: 0;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news img {
    width: 100%;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news .title a {
    color: #2F4857;
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.big-news .news-content .title {
    margin: 25px 0 8px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.big-news .news-content .brief {
    font-size: 1.6rem;
    color: #2F4857;
    margin-bottom: 16px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.small-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.small-news figure {
    width: 30%;
    margin-right: 10px;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.small-news .news-content {
    width: 70%;
}

.wrapper-news-offers .news-offers-left .news-by-category .category-content .item-news.small-news .news-content .title a {
    font-size: 1.4rem;
}

.introduction-child-td .introduction-child-3-9-left .img-title-1 img{
    width: 255px;
    height: 155px;
    object-fit: initial;
}

.introduction-child-td .introduction-child-3-9-left{
    padding: 0px;
}

.introduction-child-td-3-9{
    padding: 0px;
}

.introduction-child-39-td-center{
    margin-top: 50px;
}

.introduction-child-td .introduction-child-3-9-right .content-frame{
    margin: 0px;
}

.introduction-child-td .introduction-child-3-9-right .content-frame span{
    color: #2f4857;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.introduction-child-td .introduction-child-left .content span strong{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #2F4857;
}

.introduction-child-td .introduction-child-tab39-td{
    margin: 0 15px;
}

.introduction-child-hnyn .introduction-child-bsck .img-title-1 img{
    width: 100%;
    height: 153px;
    object-fit: initial;
}

.introduction-child-bsck .introduction-child-right-bsck h1{
    font-size: 26px !important;
}

.introduction-child-left .list-info table tbody tr td {
    font-size: 16px;
    color: #2f4857;
}

.introduction-child-left .list-info .detail{
    margin: 0;
}

.introduction-child-left .text-intro{
    width: 100%;
}

.introduction-child-left .text-intro h3{
    background: #F2F3F8;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
    padding: 0 19px;
    line-height: 49px;
    color: #2f4857;
    width: 100%;
}

.introduction-child-left .text-2{
    margin-top: 40px;
}

.introduction-child-left .text-center button{
    background: #00BB6D;
    color: #fff;
    width: 100%;
    height: 45px;
    cursor: pointer;
    border: 1px solid #00BB6D;
    padding: 5px 15px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
}

.introduction-child-left .text-center button:hover{
    background: #fff;
    color: #00BB6D;
}

.introduction-child-left .recruitment{
    background: #2F4857;
    color: #fff;
    padding: 22px 24px;
    margin-bottom: 40px;
    display: block;
}

.introduction-child-left .recruitment h1{
    font-size: 18px;
    margin-bottom: 0px;
}

.introduction-child-left .item-meta{
    margin-right: 50px;
    font-size: 16px;
    color: #ffffff;
    margin-top: 25px;
}

.introduction-child-left .item-meta img{
    margin-right: 15px;
}

.introduction-child-left .list-meta{
    display: flex;
    flex-wrap: wrap;
}

.introduction-child-left p span strong{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.introduction-child-left ul li span{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    position: relative;
}

.introduction-child-left ul li span:before{
    position: absolute;
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50px;
    color: red;
    top: 6px;
    left: -13px;
    background: #2F4857;
}
.wrapper-service .service-container {
    background: #F2F3F8;
    padding: 25px 55px;
    margin-top: 60px;
}

.wrapper-service .service-container .title-service {
    font-size: 3.2rem;
    border-bottom: .5px solid #2F4857;
    padding-bottom: 5px;
    color: #2F4857;
    font-weight: 600;
    text-transform: uppercase;
}

.wrapper-service .service-container .content-service .list-items-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.wrapper-service .service-container .content-service .list-items-service .item-service {
    width: 33.33%;
    padding: 5px 10px;
}

.wrapper-service .service-container .content-service .list-items-service .item-service img {
    margin-right: 20px;
}

.wrapper-service .service-container .content-service .list-items-service .item-service a {
    font-size: 1.4rem;
    color: #2F4857;
    font-weight: 600;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapper-home .section-4 .tabcontent .news-detail .image {
    width: 100%;
}

.wrapper-home .section-4 .tabcontent .news-detail .image img {
    height: 220px;
}

.wrapper-home .section-4 {
    padding: 120px 15px;
}

@media (min-width: 1025px) {
    .wrapper_header_mb, .wrapper_navbar_menu {
        display: none;
    }
}

@media (max-width: 1024px) {
    .wrapper_header {
        display: none;
    }
    header .container {
        margin: 0;
        padding: 0 15px;
        max-width: initial;
    }
    .wrapper_header_mb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 7px;
    }
    .wrapper_header_mb .button_menu {
        max-width: 30px;
        display: inline-block;
    }
    .wrapper_header_mb .button_menu span {
        background: #9DABAF;
        border: none;
        height: 4px;
        border-radius: 2px;
        width: 100%;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        cursor: pointer;
        display: block;
        width: 30px;
        margin-bottom: 4px;
    }
    .wrapper_header_mb .logo_mb {
        padding: 5px 0 10px;
    }
    .wrapper_header_mb .wrapper_header_service_mb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .wrapper_header_mb .wrapper_header_service_mb .switch-lang {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
        margin-left: 20px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form-tigger img {
        max-width: 16px;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form {
        position: relative;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form .search-form-wrapper {
        padding: 12px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
        position: absolute;
        background: var(--color-white);
        z-index: 9999999;
        top: 110%;
        right: -110%;
        display: none;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form .search-form-wrapper form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form .search-form-wrapper form input {
        border: 1px solid #9DABAF;
        padding-left: 10px;
        width: 222px;
        height: 32px;
        background: var(--color-white);
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form .search-form-wrapper form button {
        background-color: var(--color-primary);
        border: none;
        width: 32px;
        height: 32px;
    }
    .wrapper_header_mb .wrapper_header_service_mb .search-form .search-form-wrapper form button i {
        color: var(--color-white);
    }
    .wrapper_navbar_menu {
        position: absolute;
        background: #FFF;
        width: 100%;
        left: 0;
        z-index: 999999;
        display: none;
        border-top: 2px solid #00BB6D;
        padding: 15px;
    }
    .wrapper_navbar_menu ul.list-inline li a {
        color: #2F4857;
        font-size: 14px;
        display: block;
        border-bottom: 1px solid #F2F3F8;
        padding: 15px 0;
    }
    .wrapper_navbar_menu ul.list-inline li > ul {
        padding-left: 15px !important;
    }
    .wrapper_navbar_menu ul.list-inline li .dropdown-menu-mb {
        display: none;
    }
    .wrapper_navbar_menu ul.list-inline li.dropdown {
        position: relative;
    }
    .wrapper_navbar_menu ul.list-inline li.dropdown:before {
        content: '\f078';
        font-weight: 600;
        position: absolute;
        right: 0;
        padding: 15px;
        font-family: 'Font Awesome 5 Free';
        font-size: 14px;
    }
    .show_menu .top {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
    }
    .show_menu .mid {
        opacity: 0;
    }
    .show_menu .bottom {
        -webkit-transform: translateY(-5px) translateX(0) rotate(-45deg);
        transform: translateY(-5px) translateX(0) rotate(-45deg);
    }
    .wrapper-home .section-1 .item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .wrapper-home .section-1 .item a span {
        text-align: center;
    }
    .wrapper-home .section-3 .blog-intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .wrapper-home .section-3 .blog-intro .intro-content {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .wrapper-home .section-1 {
        margin-top: 0 !important;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .wrapper-home .section-1 .item {
        width: 50% !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }
    .wrapper-home .section-1 .item:last-child::after {
        display: none;
    }
    .wrapper-home .section-1 .item:nth-child(even) {
        padding-left: 15px;
    }
    .wrapper-home .section-1 .item:nth-child(even)::after {
        display: none;
    }
    .wrapper-home .section-3 > .container > .row {
        display: initial;
    }
    .wrapper-home .section-3 .data-left, .wrapper-home .section-3 .data-right {
        width: 100%;
        max-width: initial;
    }
    .wrapper-home .section-3 .data-left {
        padding: 0 0 1px;
    }
    .wrapper-home .section-3 .blog-intro {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .wrapper-home .section-4 .tabcontent .news-detail .image img {
        height: 140px;
    }
}

@media (max-width: 426px) {
    .wrapper_header_mb .wrapper_header_service_mb .search-form-tigger img {
        max-width: initial;
    }
    .wrapper-home .section-2 .slider-service .owl-nav .owl-prev, .wrapper-home .section-2 .slider-service .owl-nav .owl-next {
        top: 30%;
    }
    .wrapper-home .wrapper-home-banner .owl-nav .owl-prev, .wrapper-home .wrapper-home-banner .owl-nav .owl-next {
        display: none;
    }
    .wrapper-home .wrapper-home-banner .owl-dots {
        bottom: 0;
    }
    .wrapper-home .section-2 .slider-service .owl-nav .owl-prev {
        left: -15px;
    }
    .wrapper-home .section-2 .slider-service .owl-nav .owl-next {
        right: -15px;
    }
    .wrapper-home .section-2 {
        padding-bottom: 15px;
    }
    .wrapper-home .section-2 .slider-service .pos-center {
        padding-top: 0px;
    }
    .wrapper-home .section-2 .slider-service .link-service a {
        font-size: 1.2rem;
    }
    .wrapper-home .section-2 .intro {
        margin-bottom: 15px;
    }
    .wrapper-home .section-3 .data-right .blog-intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .wrapper-home .section-3 .data-left .data-blog .blog {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .wrapper-home .section-3 .data-left .data-blog .blog .blog-content {
        text-align: center;
    }
    .wrapper-home .section-4 .header-news .title {
        font-size: 2.4rem;
    }
    .wrapper-home .section-4 .tabcontent .news-detail .image img {
        height: auto;
    }
    .wrapper-home .section-4 .tab-news .tabs .tablinks {
        padding: 0 20px 0 0;
    }
    .wrapper-home .section-4 {
        position: relative;
    }
    .wrapper-home .section-4 .header-news a {
        position: absolute;
        bottom: 50px;
        width: 100%;
        left: 0;
    }
    .wrapper_footer_copyright {
        font-size: 10px;
    }
    .wrapper-home .section-2 {
        padding-top: 30px;
    }
    .wrapper-home .section-2 .intro .title {
        font-size: 2.4rem;
        padding-left: 0;
    }
    .wrapper-home .section-1 .item a span {
        padding-right: 5px;
    }
}
/*# sourceMappingURL=style.css.map */
