@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color-black: #000;
    --color-white: #FFF;
    --color-primary: #00BB6D;
}
html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    transition: all 500ms;
    &:hover{
        text-decoration: none;
    }
}
.owl-prev,.owl-next,.owl-dot,button{
    &:focus{
        outline: none;
    }
}
//Header
.wrapper_header{
    padding-top: 10px;
    .wrapper_header_right{
        font-size: 1.6rem;
        .wrapper_header_service{
            display: flex;
            justify-content: flex-end;
            .info1,.info2{
                background-color: #E1251B;
                padding: 4px 10px;
                border-radius: 4px;
                font-weight: 600;
                margin-bottom: 0;
            }
            .info2{
                background-color: var(--color-primary);
            }
            .switch-lang{
                display: flex;
                list-style-type: none;
                margin-left: 20px;
                align-items: center;
            }
            .search-form{
                position: relative;
                .search-form-wrapper{
                    padding: 12px;
                    box-shadow: 0 0 8px rgba(0,0,0, 0.15);
                    position: absolute;
                    background: var(--color-white);
                    z-index: 9999999;
                    top: 110%;
                    right: -110%;
                    display: none;
                    form{
                        display: flex;
                        input{
                            border: 1px solid #9DABAF;
                            padding-left: 10px;
                            width: 222px;
                            height: 32px;
                            background: var(--color-white);
                        }
                        button{
                            background-color: var(--color-primary);
                            border: none;
                            width: 32px;
                            height: 32px;
                            i{
                                color: var(--color-white);
                            }
                        }
                    }
                }
            }
        }
        .wrapper_header_navbar{
            height: calc(100% - 32px);
            display: flex;
            flex-direction: column-reverse;
            ul{
                justify-content: flex-end;
                li{
                    padding: 5px 15px;
                    border-right: 1px solid var(--color-primary);
                    &:last-child{
                        border-right: none;
                    }
                    a{
                        color: var(--color-black);
                    }
                    &.active{
                        a{
                            color: var(--color-primary);
                        }
                    }
                    &.dropdown{
                        .dropdown-menu{
                            width: 300px;
                            border-top: 2px solid var(--color-primary);
                            li{
                                border-right: none;
                                padding: 0;
                                border-bottom: 1px solid #f0f0f0;
                                &:last-child{
                                    border-bottom: none;
                                }
                                a{
                                    padding: 12px 17px;
                                    display: block;
                                    font-size: 1.4rem;
                                    color: #2F4857;
                                    &:hover{
                                        background: var(--color-primary);
                                        color: var(--color-white);
                                    }
                                }
                            }
                        }
                        .mega{
                            width: 800px;
                            li{
                                width: 33.33%;
                                border-bottom: 1px solid #f0f0f0;
                                border-left: 1px solid #f0f0f0;
                                a{
                                    display: inline-block;
                                    width: 100%;
                                }
                            }
                        }
                        &:hover{
                            .dropdown-menu{
                                display: block;
                            }
                            .mega{
                                display: flex;
                                flex-wrap: wrap;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header-scroll{
    position: fixed;
    z-index: 99999;
    background: var(--color-white);
    width: 100%;
    top: 0;
    border-bottom: 2px solid var(--color-primary);
    animation: animenu 1000ms forwards;
    >div[class*="introduction"]{
        padding: 0;
    }
    .wrapper_header {
        padding-bottom: 10px; 
        .wrapper_header_right .wrapper_header_service{
            display: none;
        }
    }
}
@keyframes animenu{
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}
.open{
    display: block !important;
}
// End header
//Footer
.wrapper_footer{
    padding-top: 80px;
    .wrapper_footer_left_contact{
        color: #2F4857;
        font-size: 16px;
        line-height: 22px;
        border-bottom: 1px solid #2F4857;
        padding-bottom: 16px;
    }
    .wrapper_footer_left_contact_title,.wrapper_footer_right_title{
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;
        margin: 8px 0 ;
    }
    .wrapper_footer_right_title a{
        color: var(--color-black);
        font-weight: 600;
    }
    .wrapper_footer_left_contact_address,.wrapper_footer_left_contact_phone,.wrapper_footer_left_contact_mail{
        display: flex;
        align-items: start;
        margin-bottom: 4px;
        span{
            padding-left: 8px;
            color: #2F4857;
            font-size: 16px;
            line-height: 22px;
        }
        img{
            padding-top: 4px;
        }
    }
    .wrapper_footer_left_menu{
        margin-top: 16px;
        .wrapper_footer_left_menu_item a{
            font-size: 1.6rem;
            color: var(--color-black);
        }
    }
    .wrapper_footer_social{
        margin-bottom: 30px;
        a{
            margin-left: 10px;
            margin-right: 10px;
        }
    } 
}
.wrapper_footer_copyright{
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 15px 0;
    width: 100%;
}
.nav-right{
    position: fixed;
    right: 0;
    top: 30vh;
    z-index: 999;
    width: 40px;
    height: 80px;
    >img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .contact,.mail{
        width: 100%;
        height: 50%;
        position: relative;
        p{
            transition: all 500ms;
            width: 180px;
            margin-bottom: 0;
            height: 40px;
            background: var(--color-primary);
            display: flex;
            align-items: center;
            padding: 0 15px;
            transform: translateX(40px);
            span{
                letter-spacing: 1px;
                color: var(--color-white);
                font-size: 1.6rem;
                padding-left: 8px;
            }
        }
        &:hover{
            p{
                transform: translateX(-70%);
            }
        }
    }
    .mail{
        p{
            width: fit-content;
            a{
                color: var(--color-white);
                font-size: 1.6rem;
            }
        }
        &:hover{
            p{
                transform: translateX(-80%);
            }
        }
    }
}
.phone-gif{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    img{
        width: 45px;
        height: auto;
    }
}
//End footer
// Home
.wrapper-home{
    margin-top: 15px;
    .wrapper-home-banner{
        position: relative;
        .owl-nav{
            .owl-prev,.owl-next{
                top: 50%;
                position: absolute;
                left: 40px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 33px;
                border: 1px solid #9DABAF;
                transform: translateY(-50%);
                background-image: url(../images/icon-left.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 10px;
                background-color: #D6D6D6;
                i{
                    color: var(--color-white);
                    line-height: 40px;
                    font-size: 1.4rem;
                }
                &:hover{
                    background: #869791;
                    border: 1px solid var(--color-primary);
                }
            }
            .owl-next{
                right: 40px;
                left: initial;
                background-image: url(../images/icon-right.png)
            }
        }
        .owl-dots{
            position: absolute;
            width: 100%;
            bottom: 75px;
            .owl-dot{
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .section-1{
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        position: relative;
        margin-top: -64px;
        z-index: 1;
        .active{
            display: none;
        }
        .item{
            background: var(--color-white);
            width: 20%;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 1px;
                height: 32px;
                right: 0;
                background: var(--color-primary);
            }
            span{
                padding-left: 16px;
                color: var(--color-black);
            }
            &:hover{
                background: var(--color-primary);
                span{
                    color: var(--color-white);
                }
                &.item-2,&.item-5{
                    span{
                        color: var(--color-black);
                    }
                }
                .normal{
                    display: none;
                }
                .active{
                    display: inline-block;
                }
            }
        }
        .modal{
            display: none;
            position: fixed;
            z-index: 9999999999999999999999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            overflow: auto;
            .close-modal{
                background: url(../images/close.png) no-repeat;
                height: 40px;
                width: 40px;
                border: none;
                position: absolute;
                right: 0;
                z-index: 999;
            }
            .modal-content{
                margin: 28px auto !important;
                width: 800px;
                margin: auto;
                color: var(--color-white);
                height: auto;
                background: url(../images/modal-1.png) center no-repeat;
                background-size: cover;
                animation: animationtop 700ms ease-out;
                .modal-body{
                    padding: 40px 55px;
                    .modal-title{
                        font-weight: 700;
                        font-size: 2.6rem;
                        line-height: 150%;
                        text-transform: uppercase;
                        border-bottom: 1px solid var(--color-white);
                        padding-bottom: 10px;
                        margin-bottom: 15px;
                    }
                    .list-time p{
                        display: flex;
                        margin-top: 30px;
                        span{
                            padding-left: 0;
                            color: var(--color-white);
                            width: 50%;
                            font-weight: 600;
                        }
                    }
                    .contact{
                        a{
                            background: var(--color-primary);
                            color: var(--color-white);
                            border-radius: 4px;
                            width: 164px;
                            height: 32px;
                            display: inline-block;
                            line-height: 32px;
                        }
                        span{
                            color: var(--color-white);
                        }
                    }
                    .modal-address{
                        display: flex;
                        align-items: flex-start;
                        margin-bottom: 20px;
                        img{
                            padding-top: 4px;
                        }
                        .content{
                            padding-left: 8px;
                        }
                    }
                }
            }
        }
        .modal-item-2{
            .row{
                align-items: center;
                margin-bottom: 16px;
                margin-right: 0;
            }
            label{
                font-size: 1.4rem;
            }
            input,select{
                border: none;
                height: 40px;
                &::placeholder{
                    font-size: 1.6rem;
                    color: #9DABAF;
                    line-height: 47px;
                }
                option{
                    font-size: 1.6rem;
                    color: #9DABAF;
                }
            }
            select{
                font-weight: 600;
                font-size: 1.6rem;
                color: #9DABAF;
                background: url(../images/dropdown.png)  98% 8px no-repeat var(--color-white);
                appearance: none;
            }
            .btn-search{
                width: 100%;
                height: 45px;
                background-color: var(--color-primary);
                border-radius: 4px;
                padding: 5px 15px;
                border: 1px solid var(--color-primary);
                color: var(--color-white);
                &:hover{
                    color: var(--color-primary);
                    background-color: var(--color-white);
                }
            }
        }
    }
    .section-2{
        padding-top: 120px;
        padding-bottom: 110px;
        .intro{
            .title{
                font-size: 3.6rem;
                font-weight: 600;
                line-height: 54px;
                text-transform: uppercase;
                color: #2F4857;
                margin-bottom: 8px;
                padding-left: 10px;
            }
            .content{
                font-size: 1.6rem;
                color: #2F4857; 
            }
        }
        .slider-service{
            position: relative;
            z-index: initial;
            .owl-carousel{
                z-index: initial;
            }
            .pos-center{
                padding-top: 30px;
            }
            .owl-stage-outer{
                padding-bottom: 50px;
                transition: height 500ms ease-in-out;
            }
            .link-service{
                display: flex;
                img{
                    width: 28px;
                }
                a{
                    font-size: 1.8rem;
                    color: var(--color-black);
                    padding-left: 8px;
                    display: inline-block;
                }
            }
            .owl-nav{
                .owl-prev,.owl-next{
                    top: 50%;
                    position: absolute;
                    left: -25px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 33px;
                    border: 1px solid #9DABAF;
                    transform: translateY(-50%);
                    background-image: url(../images/icon-left.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 10px;
                    background-color: #D6D6D6;
                    i{
                        color: var(--color-white);
                        line-height: 40px;
                        font-size: 1.4rem;
                    }
                    &:hover{
                        background: #869791;
                        border: 1px solid var(--color-primary);
                    }
                }
                .owl-next{
                    right: -25px;
                    left: initial;
                    background-image: url(../images/icon-right.png)
                }
            }
        }
    }
    .section-3{
        background: url(../images/bg2.jpg) no-repeat;
        background-size: cover;
        min-height: 500px;
        padding: 70px 0;
        .data-left{
            .data-title{
                font-size: 3.6rem;
                color: var(--color-white);
                font-weight: 600;
                text-transform: uppercase;
                line-height: 54px;
                margin-bottom: 48px;
            }
            .data-blog{
                height: 340px;
                background: url(../images/bg-1.svg) center no-repeat;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .blog{
                    width: 47.4%;
                    height: 44.6%;
                    background-color: #9DABAF20;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .blog-content{
                        padding-left: 16px;
                        .data{
                            font-size: 3rem;
                            color: var(--color-white);
                            font-weight: 600;
                        }
                        .title{
                            font-size: 1.6rem;
                            color: var(--color-white);
                        }
                    }
                    &.blog-1,&.blog-2{
                        margin-bottom: 36px;
                    }
                }
            }
        }
        .data-right{
            padding: 32px;
            background: #9DABAF20;
            >p{
                font-size: 1.6rem;
                color: var(--color-white);
                margin-bottom: 24px;
            }
            .blog-intro{
                display: flex;
                align-items: center;
                img{
                    max-width: 200px;
                }
                .intro-content{
                    padding-left: 16px;
                    .intro-header{
                        border-bottom: 1px solid var(--color-white);
                        .title-name{
                            font-size: 1.8rem;
                            color: var(--color-white);
                            font-weight: 600;
                        }
                        .title-position{
                            font-size: 1.6rem;
                            color: var(--color-white);
                            margin-bottom: 16px;
                        }
                    }
                    .intro-text{
                        margin-top: 16px;
                        display: flex;
                        align-items: flex-start;
                        color: var(--color-white);
                        font-size: 1.6rem;
                        text-align: justify;
                        >p{
                            padding-left: 16px;
                        }
                    }
                }
            }
        }
    }
    .section-4{
        padding: 120px 0;
        .header-news{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 8px;
            border-bottom: 1px solid #2F4857;
            .title{
                font-size: 3.6rem;
                color: #2F4857;
                letter-spacing: 2px;
                display: inline-block;
                font-weight: 600;
                text-transform: uppercase;
            }
            a{
                display: inline-block;
                font-size: 1.6rem;
                color: var(--color-white);
                background-color: var(--color-primary);
                border-radius: 4px;
                padding: 5px 15px;
                transition: all 500ms;
                border: 1px solid transparent;
                &:hover{
                    background-color: var(--color-white);
                    color: var(--color-primary);
                    border-color: var(--color-primary);
                }
            }
        }
        .tab-news{
            margin: 20px 0 16px;
            .tabs{
                .tablinks{
                    line-height: 22px;
                    font-size: 16px;
                    color: #2F4857;
                    border: none;
                    background: transparent;
                    padding: 0 20px;
                    &:hover{
                        color: var(--color-primary);
                        font-weight: 600;
                    }
                }
                .tablinks:first-child{
                    padding-left: 0;
                }
            }
        }
        .tabcontent{
            margin-top: 24px;
            .news-detail{
                .image{
                    display: inline-block;
                    overflow: hidden;
                    img{
                        max-height: 220px;
                        width: 100%;
                        transition: all 700ms ease-in;
                    }
                    &:hover{
                        img{
                            transform: scale(1.3);
                        }
                    }
                }
                .content{
                    .title {
                        margin: 16px 0 8px;
                        a{
                            font-size: 1.8rem;
                            color: var(--color-black);
                            font-weight: 600;
                            transition: all 500ms;
                            &:hover{
                                color: var(--color-primary);
                            }
                        }
                    }
                    .brief{
                        font-size: 1.4rem;
                        line-height: 21px;
                        text-align: justify;
                        margin-bottom: 16px;
                        color: #2F4857;
                    }
                }
            }
        }

    }
    .section-5{
        padding: 80px;
        background-color: #F2F3F8;
        .owl-nav{
            .owl-prev,.owl-next{
                top: 50%;
                position: absolute;
                left: -25px;
                text-align: center;
                border: 1px solid #9DABAF;
                transform: translateY(-50%);
                background-size: 10px;
                background-color: #D6D6D6;
                padding: 5px 7px !important;
                border-radius: 3px;
                i{
                    color: var(--color-white);
                    font-size: 1.4rem;
                }
                &:hover{
                    background: #869791;
                }
            }
            .owl-next{
                right: -25px;
                left: initial;
                
            }
        }
    }
    .chat-messenger{
        position: fixed;
        bottom: 15px;
        right: 20px;
        width: 55px;
        height: auto;
        z-index: 999999;
    }
}

@keyframes animationtop{
    from {
        top:-300px; 
        opacity:0;
    } 
    to {
        top:0; 
        opacity:1;
    }
}
// End home

// Person
.wrapper-person{
    .person-left{
        .title-person{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #2F4857;
            line-height: 40px;
            border-bottom: .5px solid var(--color-black);
            padding-bottom: 10px;
            letter-spacing: .05em;
        }
        .search-person{
            margin-top: 32px;
            .row{
                margin: 0;
                .form-group{
                    padding: 0 2px;
                }
                .person-search-button{
                    max-width: 32px;
                    flex: initial;
                    .sb-search{
                        width: 32px;
                        height: 32px;
                        background: var(--color-primary);
                        font-size: 1.7rem;
                        color: var(--color-white);
                        border: 1px solid transparent;
                        border-radius: 4px;
                        &:hover{
                            color: var(--color-primary);
                            background: var(--color-white);
                            border-color: var(--color-primary);
                        }
                    }
                }
                .person-search-name{
                    max-width: initial;
                    flex-grow: 1;
                }
                label{
                    font-size: 1.4rem;
                }
                input,select{
                    height: 32px;
                    border: 1px solid #9DABAF;
                    &::placeholder{
                        font-size: 1.6rem;
                        color: #9DABAF;
                        line-height: 32px;
                    }
                    option{
                        font-size: 1.6rem;
                        color: #9DABAF;
                    }
                }
                select{
                    font-weight: 600;
                    font-size: 1.6rem;
                    color: #9DABAF;
                    background: url(../images/dropdown.png)  98% 4px no-repeat var(--color-white);
                    appearance: none;
                }
            }
        }
        .list-doctor{
            .item-doctor{
                margin-top: 64px;
                .thumbnail{
                    width: 30%;
                    margin-right: 30px;
                    img{
                        width: 100%;
                    }
                }
                .info-doctor{
                    font-size: 1.6rem;
                    line-height: 22px;
                    color: #2F4857;
                    .title{ 
                        margin-bottom: 8px;
                        a{
                            font-size: 1.8rem;
                            color: var(--color-primary);
                            font-weight: 600;
                            line-height: 1.5;
                        }
                    }
                    .level,.position,.address{
                        margin-bottom: 16px;
                        img{
                            max-width: 16px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
// End person

//Rules

.wrapper-rules{
    .rules-left{
        .rules-title{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #2F4857;
            line-height: 40px;
            border-bottom: .5px solid var(--color-black);
            padding-bottom: 10px;
            letter-spacing: .05em;
        }
        .rules-related{
            .title{
                font-size: 24px;
                line-height: 36px;
                font-weight: 600;
                color: #2F4857;
            }
            .link-related{
                a{
                    display: block;
                    background: var(--color-primary);
                    color: var(--color-white);
                    font-weight: 600;
                    font-size: 1.4rem;
                    text-align: center;
                    height: 40px;
                    line-height: 40px;
                    margin-top: 20px;
                    &:hover{
                        background: #2F4857;
                    }
                }
            }
        }
    }
}
// End rules
// Question
.wrapper-question{
    .question-left{
        
        .question-title{
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            color: #2F4857;
            line-height: 40px;
            border-bottom: .5px solid var(--color-black);
            padding-bottom: 10px;
            letter-spacing: .05em;
        }
        .question-list{
            margin-top: 25px;
            .card{
                *{
                    transition: all 500ms;
                }
                font-size: 1.6rem;
                padding: 0 15px;
                margin-bottom: 16px;
                .card-header{
                    padding: 10px 0;
                    background: var(--color-white);
                    button{
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #2F4857;
                        padding: 6px 12px 6px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        &:hover,&:focus{
                            text-decoration: none;
                            color: #0056b3;
                        }
                    }
                }
                .card-body{
                    padding: 10px 0;
                    .question{
                        .title{
                            margin-bottom: 16px;
                            color: #2F4857;
                            font-weight: 600;
                        }
                        .content{
                            margin-bottom: 16px;
                        }
                    }
                    .answers{
                        .title{
                            color: var(--color-black);
                            font-weight: 600;
                            margin-bottom: 16px;
                        }
                    }
                }
                [data-toggle="collapse"] .fas{  
                    transition: none;
                }
                [data-toggle="collapse"] .fas:before {  
                    content: "\f0de";
                }
                  
                [data-toggle="collapse"].collapsed .fas {
                    // content: "\f0dd";
                    transition: none;
                    transform: rotate(-180deg);
                }
                  
            }
        }
          
    }
}
// End question

// Style introduction
.introduction{
	padding: 13px 0;
}
.content-introduction-title .content{
        text-align: justify!important;
}
.tab-intro-content-1{
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.content-introduction{
	padding-top: 20px;
}
.content-introduction .panel-title h1{
	font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    border-bottom: .5px solid #000;
    padding-bottom: 10px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #2F4857;
    width: 100%
}
.img-title{
	text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.img-title-1{
	text-align: center;
	margin: 20px 0 30px;
}
.content-title-strong span strong{
    font-weight: 700;
    color: #000000;
    font-size: 16px;
}
.content-title-strong h2 span strong{
	color: #008000; 
	font-size: 28px;
	margin-top: 10px;
}
.content-title-strong h3 span strong{
	color: #008000; 
}
.content-title-strong h3{
    margin: 0px 0 15px;
}
.content-title-strong .content-frame span{
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	text-align: justify;
}
.content-title-strong .content-julily{
	text-align: justify;
	width: 100%;
	margin-bottom: 2rem;
}
.content-introduction-2 .wp-caption-text{
	text-align: center;
    margin: -15px 0 20px;
}
/* === Banner-2 === */
.banner-2-introduction{
	background: url(../images/bg-reason.png);
    background-size: cover;
    padding-top: 60px;
    height: 580px;
    padding-bottom: 60px;
}
.title-why-setion{
	color: #fff!important;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 4.5rem;
}
.introduction-reason .reason-4-img .img-hover{
	text-align: center;
}
.introduction-reason .reason-title h4{
	font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 40px;
}
.introduction-reason .reason-title h4{
	font-size: 16px;
    font-weight: 700;
    color: #FFF;
    margin-top: 40px;
    text-align: initial;
}
.introduction-reason .reason-title p{
	color: #fff;
    font-weight: 300;
    margin-top: 10px;
    font-size: 16px;
    text-align: justify!important;
}
.introduction-charity{
	padding: 80px 0;
}
.introduction-charity .title-section p{
	color: #2f4857;
	font-size: 16px;
	 text-align: justify!important;
}
.introduction-charity .title-section h2{
	font-style: normal;
    font-weight: 700;
    color: #2f4857;
    font-size: 26px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.introduction-charity .button-center{
	background-color: #00BB6D!important;
    border: 1px solid #00BB6D!important;
    padding: 5px 15px!important;
    text-align: center;
    height: 45px!important;
    transition: all 300ms ease-in;
}
.introduction-charity .button-center:hover{
	background-color: transparent !important;
	transition: 0.3s;
}
.introduction-charity .button-center:hover .more-hear{
  	color: #00BB6D!important;
}
.introduction-charity .button-center .more-hear{
	border-radius: 4px!important;
    color: #fff!important;
    cursor: pointer!important;
    width: 100%!important;
    text-align: center;
    text-transform: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
}
.introduction-chidle .chidle-1{
	padding: 0;
    margin-top: 25px;
}
.introduction-gallery{
	padding: 0px;
}
.introduction-gallery .gallery-title h2{
	color: #2F4857;
	font-size: 28px;
	margin-bottom: 30px;
}
.introduction-gallery .gallery h4{
	font-style: normal;
    font-size: 14px;
    line-height: 150%;
    color: #2F4857;
    text-transform: uppercase;
    margin: 15px 0 8px;
    height: 65px;
}
.introduction-gallery .img-hover a{
	overflow: hidden;
    display: block; 
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.introduction-gallery .img-hover a img{
	transition: all 250ms ease-in;
}
.introduction-gallery .img-hover a img:hover{
	transition: 0.25s;
	transform: scale(1.2);
}
.introduction-footer{
	border-top: 1px solid #9DABAF;
}
// End style introduction

// Style 2 introdution child
.tab-intro-child-1{
	max-width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
		
}
.introduction-child-menu{
	padding: 13px 0;
}
.introduction-child-tab84{
	padding-top: 20px; 
}
.introduction-child-tab84 .panel-title h1{
	font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    border-bottom: .5px solid #000;
    padding-bottom: 10px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #2F4857;
}
.introduction-child-left .content{
	text-align: justify!important;
	margin-top: 5px;
}
.introduction-child-left .content span strong{
	font-weight: 700;
    color: #000000;
    font-size: 16px;
}
.introduction-child-left .panel-title h2 span strong{
    color: #008000;
    font-size: 18.6667px;
}
.introduction-child-left .panel-title h2{
	margin: 0 0 10px;
}
.introduction-child-left .panel-title .content-frame{
	text-align: justify;
}
.introduction-child-left .panel-title .content-frame span{
	font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}
.introduction-child-left .panel-title .introduction-child-contact p{
	font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}
.introduction-child-left .panel-title .introduction-child-contact h3{
	margin: 0 0 15px;
}
.introduction-child-left{
	padding-bottom: 80px;
}
.introduction-child-footer{
    border-top: 1px solid #9DABAF;
}
/* === Search === */
.search-form-wrapper{
	background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
}
.search-form-wrapper .search-field{
    outline: none;
	height: 32px;
    background: #FFF;
    border: 1px solid #9DABAF;
    width: 200px;
    padding-left: 17px;
    font-size: 15px;
    line-height: 0;
    margin-right: 10px;
}
.search-form-wrapper button{
    outline: none;
	height: 32px;
    background: #FFF;
    border: 1px solid #9DABAF;
    font-size: 15px;
    margin: 0;
    line-height: 0;
    padding: 0;
    width: 110px;
    text-align: center;
}
.introduction-child-right .widget-title{
	background: #00BB6D;
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.introduction-child-right ul{
	padding: 0px;
	background-color: #f0f0f0;
}
.introduction-child-right ul li{
	border-bottom: 1px solid #ccc;
    text-align: justify;
    width: 100%;
}
::marker{
	color: #fff;
}
.introduction-child-right ul li a{
	color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
	padding: 18px 20px;
    display: block;
    list-style: none;
    transition: all 300ms ease-in;
}
.introduction-child-right ul li a:hover{
	color: #00BB6D;
	transition: 0.3s;
}
// End style 2 introductio child

// Style 3 

.introduction-child-tab84 .content2{
	width: 100%;
}
.introduction-child-tab84 .content2 span strong{
	font-size: 16px;
	color: #000000;
	font-weight: 400 !important; 
}
.introduction-child-left .panel-title .content2 h2 span strong {
    font-size: 28px;
}
.introduction-child-cck-tab84 .panel-title h3 span strong{
	font-size: 28px;
	color: #008000;
}
.introduction-child-cck-tab84 .panel-title ul li span a{
	font-size: 16px;
	font-weight: 400 !important; 
}
.introduction-child-cck-tab84 .panel-title  h3{
	margin-top: 20px;
}

// End style 3

// Style 4
.introduction-child-tvsk-tab84 .banner-img-title-2{
	margin-top: 5px;  
}
.introduction-child-tvsk-tab84 .introduction-child-left .panel-title h2 span strong{
	color: #2F4857;
    font-size: 24px;
}
.introduction-child-tvsk-6-6{
	padding: 0;
    margin: 0;
    max-width: 100%;
}
.introduction-child-tvsk-6-6 .introduction-child-tvsk-left{
	padding-left: 0px;
}
.introduction-child-tvsk-6-6 .banner-img-title-2{
	margin-top: 40px;
}
.introduction-child-tvsk-6-6 .introduction-child-tvsk-left h2 span strong{
	color: #2F4857;
    font-size: 16px;
}
.introduction-child-tvsk-6-6 .introduction-child-tvsk-right h2 span strong{
	color: #2F4857;
    font-size: 16px;
}
.introduction-child-tvsk-tab84 .introduction-child-left .panel-title .content-frame span{
	font-size: 16px;
    color: #2F4857;
}
.introduction-child-tvsk-tab84 .introduction-child-tvsk .content-frame{
	text-align: justify;
}
.introduction-child-tvsk-tab84 .introduction-child-tvsk .content-frame span{
	font-size: 16px;
    color: #2F4857;
} 	
// Style 4
